<div class="site-header__header-two-wrap clearfix">
    <div class="site-header__header-two-wrap__top clearfix">
      <div class="site-header__header-tow-wrap__container clearfix">
        <div class="site-header__header-tow-wrap__top-inner clearfix">
          <div
            class="site-header__header-tow-wrap__top-inner__left float-left"
          >
            <ul class="list-unstyled">
              <li>
                <div class="icon">
                  <i class="fas fa-phone-square-alt"></i>
                </div>
                <div class="text">
                  <p><a href="tel:+919974982455">+91 99749 82455</a></p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <i class="fas fa-envelope"></i>
                </div>
                <div class="text">
                  <p>
                    <a href="mailto:needhelp@company.com"
                      >needhelp@manvseva.com</a
                    >
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div
            class="site-header__header-tow-wrap__top-inner__right float-right"
          >
            <div class="site-header__header-tow-wrap__top-inner__social">
              <a href="#"><i class="fab fa-facebook-square"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-dribbble"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <header class="main-nav__header-two">
      <div class="main-nav__header-two__container">
        <nav class="header-navigation stricky">
          <div class="main-nav__header-two__content-box">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="main-nav__left main-nav__left-two">
              <div class="logo-two">
                <a href="index.html"
                  ><img src="assets/images/Sevabridge.svg" alt="" /> &nbsp;
                  <img src="assets/images/Sevadham_manavseva.svg" alt=""
                /></a>
              </div>
              <a href="#" class="side-menu__toggler">
                <i class="fa fa-bars"></i>
              </a>
            </div>
            <div
              class="main-nav__main-navigation main-nav__main-navigation__two"
            >
              <ul class="main-nav__navigation-box">
                <li class="current">
                  <a href="index.html ">Home</a>
                </li>
                <li>
                  <a href="about.html">About us</a>
                </li>
                <li>
                  <a href="donation.html">Donation</a>
                </li>
                <li>
                  <a href="get-help.html">Get Help</a>
                </li>
                <li>
                  <a href="volunteer.html">Volunteers</a>
                </li>
                <li>
                  <a href="event.html">Events</a>
                </li>
                <li>
                  <a href="blog.html">Blogs</a>
                </li>
                <li>
                  <a href="contact.html">Contact</a>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
            <div class="main-nav__right-two">
              <div class="main-nav__right__icon-cart-box">
                <a href="help-history.html">
                  <span class="fas fa-user"></span>
                </a>
              </div>

              <div class="main-nav__right__btn-one">
                <a href="donation.html"
                  ><i class="fas fa-heart"></i>Donate</a
                >
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
  </div>