<!--Page Header Start-->
<section
  class="page-header"
  style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)"
>
  <div class="container">
    <div class="page-header__inner">
      <h2>Blogs</h2>
      <ul class="thm-breadcrumb list-unstyled">
        <li><a href="/">Home</a></li>
        <li><span>/</span></li>
        <li>Blogs</li>
      </ul>
    </div>
  </div>
</section>
<!--Page Header End-->

<!--News Page Start-->
<section class="news-page">
  <div class="container">
    <div class="row">
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="100ms"
      >
        <!--News One Single-->
        <div class="news-one__single">
          <div class="news-one__img">
            <div class="news-one__img-box">
              <img src="assets/images/blog/news-page-img-1.jpg" alt="" />
              <a href="/blog/details"></a>
            </div>
            <div class="news-one__date-box">
              <p>
                23 <br />
                Dec
              </p>
            </div>
          </div>
          <div class="news-one__content">
            <ul class="list-unstyled news-one__meta">
              <li>
                <a href="#"><i class="far fa-user-circle"></i> Admin</a>
              </li>
              <li><span>/</span></li>
              <li>
                <a href="#"><i class="far fa-comments"></i> 2 Comments</a>
              </li>
            </ul>
            <div class="news-one__title">
              <h3>
                <a href="/blog/details"
                  >How Does Malnutrition Affect Children?</a
                >
              </h3>
            </div>
            <a href="/blog/details" class="thm-btn news-one__btn">More</a>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="200ms"
      >
        <!--News One Single-->
        <div class="news-one__single">
          <div class="news-one__img">
            <div class="news-one__img-box">
              <img src="assets/images/blog/news-page-img-2.jpg" alt="" />
              <a href="/blog/details"></a>
            </div>
            <div class="news-one__date-box">
              <p>
                23 <br />
                Dec
              </p>
            </div>
          </div>
          <div class="news-one__content">
            <ul class="list-unstyled news-one__meta">
              <li>
                <a href="#"><i class="far fa-user-circle"></i> Admin</a>
              </li>
              <li><span>/</span></li>
              <li>
                <a href="#"><i class="far fa-comments"></i> 2 Comments</a>
              </li>
            </ul>
            <div class="news-one__title">
              <h3>
                <a href="/blog/details"
                  >Capitalize on low hanging fruit to identify</a
                >
              </h3>
            </div>
            <a href="/blog/details" class="thm-btn news-one__btn">More</a>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="300ms"
      >
        <!--News One Single-->
        <div class="news-one__single">
          <div class="news-one__img">
            <div class="news-one__img-box">
              <img src="assets/images/blog/news-page-img-3.jpg" alt="" />
              <a href="/blog/details"></a>
            </div>
            <div class="news-one__date-box">
              <p>
                23 <br />
                Dec
              </p>
            </div>
          </div>
          <div class="news-one__content">
            <ul class="list-unstyled news-one__meta">
              <li>
                <a href="#"><i class="far fa-user-circle"></i> Admin</a>
              </li>
              <li><span>/</span></li>
              <li>
                <a href="#"><i class="far fa-comments"></i> 2 Comments</a>
              </li>
            </ul>
            <div class="news-one__title">
              <h3>
                <a href="/blog/details"
                  >Override the digital divide with additional</a
                >
              </h3>
            </div>
            <a href="/blog/details" class="thm-btn news-one__btn">More</a>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="400ms"
      >
        <!--News One Single-->
        <div class="news-one__single">
          <div class="news-one__img">
            <div class="news-one__img-box">
              <img src="assets/images/blog/news-page-img-4.jpg" alt="" />
              <a href="/blog/details"></a>
            </div>
            <div class="news-one__date-box">
              <p>
                23 <br />
                Dec
              </p>
            </div>
          </div>
          <div class="news-one__content">
            <ul class="list-unstyled news-one__meta">
              <li>
                <a href="#"><i class="far fa-user-circle"></i> Admin</a>
              </li>
              <li><span>/</span></li>
              <li>
                <a href="#"><i class="far fa-comments"></i> 2 Comments</a>
              </li>
            </ul>
            <div class="news-one__title">
              <h3>
                <a href="/blog/details">Nanotechnology immersion along the</a>
              </h3>
            </div>
            <a href="/blog/details" class="thm-btn news-one__btn">More</a>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="500ms"
      >
        <!--News One Single-->
        <div class="news-one__single">
          <div class="news-one__img">
            <div class="news-one__img-box">
              <img src="assets/images/blog/news-page-img-5.jpg" alt="" />
              <a href="/blog/details"></a>
            </div>
            <div class="news-one__date-box">
              <p>
                23 <br />
                Dec
              </p>
            </div>
          </div>
          <div class="news-one__content">
            <ul class="list-unstyled news-one__meta">
              <li>
                <a href="#"><i class="far fa-user-circle"></i> Admin</a>
              </li>
              <li><span>/</span></li>
              <li>
                <a href="#"><i class="far fa-comments"></i> 2 Comments</a>
              </li>
            </ul>
            <div class="news-one__title">
              <h3>
                <a href="/blog/details"
                  >User generated content in real will have multiple</a
                >
              </h3>
            </div>
            <a href="/blog/details" class="thm-btn news-one__btn">More</a>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="600ms"
      >
        <!--News One Single-->
        <div class="news-one__single">
          <div class="news-one__img">
            <div class="news-one__img-box">
              <img src="assets/images/blog/news-page-img-6.jpg" alt="" />
              <a href="/blog/details"></a>
            </div>
            <div class="news-one__date-box">
              <p>
                23 <br />
                Dec
              </p>
            </div>
          </div>
          <div class="news-one__content">
            <ul class="list-unstyled news-one__meta">
              <li>
                <a href="#"><i class="far fa-user-circle"></i> Admin</a>
              </li>
              <li><span>/</span></li>
              <li>
                <a href="#"><i class="far fa-comments"></i> 2 Comments</a>
              </li>
            </ul>
            <div class="news-one__title">
              <h3>
                <a href="/blog/details">
                  Iterative approaches to corporate strategy</a
                >
              </h3>
            </div>
            <a href="/blog/details" class="thm-btn news-one__btn">More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center more-post__btn">
      <a href="#" class="thm-btn">Load More</a>
    </div>
    <!-- /.text-center -->
  </div>
</section>
<!--News Page End-->
