<!--Page Header Start-->
<section
  class="page-header"
  style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)"
>
  <div class="container">
    <div class="page-header__inner">
      <h2>Donations</h2>
      <ul class="thm-breadcrumb list-unstyled">
        <li><a href="/">Home</a></li>
        <li><span>/</span></li>
        <li>Campaigns</li>
      </ul>
    </div>
  </div>
</section>
<!--Page Header End-->

<!--CTA One Start-->
<section
  class="cta-one"
  style="background: #ff6d12; margin: 5%; border-radius: 20px"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="cta-one__inner">
          <div class="cta-one__text">
            <p>Help People in Need</p>
            <h3>Direct Donate To Trust</h3>
          </div>
          <div class="cta-one__btn">
            <a href="#" class="thm-btn">Donate Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--CTA One End-->

<!--Popular Causes Three Start-->
<section class="popular-causes-three campaign-page">
  <div class="container">
    <div class="block-title text-center">
      <h4>Help the People</h4>
      <h2>Direct Donate to Needy Person</h2>
    </div>
    <div class="row">
      <div
        class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp"
        data-wow-delay="100ms"
      >
        <!--Popular Causes Single-->
        <div class="popular-causes__sinlge">
          <div class="popular-causes__img">
            <img
              src="assets/images/resources/popular-causes-3-img-1.jpg"
              alt=""
            />
            <div class="popular-causes__category">
              <p>Food</p>
            </div>
          </div>
          <div class="popular-causes__content">
            <div class="popular-causes__title">
              <h3>
                <a href="#">Raise Fund for Clean & Healthy Water</a>
              </h3>
              <p>Aliq is notm hendr erit a augue insu image pellen tes.</p>
            </div>
            <div class="popular-causes__progress">
              <div class="give-helping__btn">
                <a href="#">Donate</a>
              </div>
              <div class="see_full">
                <a href="/donation/details">See Full Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp"
        data-wow-delay="200ms"
      >
        <!--Popular Causes Single-->
        <div class="popular-causes__sinlge">
          <div class="popular-causes__img">
            <img
              src="assets/images/resources/popular-causes-3-img-2.jpg"
              alt=""
            />
            <div class="popular-causes__category">
              <p>Education</p>
            </div>
          </div>
          <div class="popular-causes__content">
            <div class="popular-causes__title">
              <h3>
                <a href="#">Our donation is hope for poor childrens</a>
              </h3>
              <p>Aliq is notm hendr erit a augue insu image pellen tes.</p>
            </div>
            <div class="popular-causes__progress">
              <div class="give-helping__btn">
                <a href="#">Donate</a>
              </div>
              <div class="see_full">
                <a href="/donation/details">See Full Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp"
        data-wow-delay="300ms"
      >
        <!--Popular Causes Single-->
        <div class="popular-causes__sinlge">
          <div class="popular-causes__img">
            <img
              src="assets/images/resources/popular-causes-3-img-3.jpg"
              alt=""
            />
            <div class="popular-causes__category">
              <p>Education</p>
            </div>
          </div>
          <div class="popular-causes__content">
            <div class="popular-causes__title">
              <h3>
                <a href="#">Education for Poor Children</a>
              </h3>
              <p>Aliq is notm hendr erit a augue insu image pellen tes.</p>
            </div>
            <div class="popular-causes__progress">
              <div class="give-helping__btn">
                <a href="#">Donate</a>
              </div>
              <div class="see_full">
                <a href="/donation/details">See Full Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp"
        data-wow-delay="400ms"
      >
        <!--Popular Causes Single-->
        <div class="popular-causes__sinlge">
          <div class="popular-causes__img">
            <img
              src="assets/images/resources/popular-causes-3-img-4.jpg"
              alt=""
            />
            <div class="popular-causes__category">
              <p>Education</p>
            </div>
          </div>
          <div class="popular-causes__content">
            <div class="popular-causes__title">
              <h3>
                <a href="#">Promoting The Rights of Children</a>
              </h3>
              <p>Aliq is notm hendr erit a augue insu image pellen tes.</p>
            </div>
            <div class="popular-causes__progress">
              <div class="give-helping__btn">
                <a href="#">Donate</a>
              </div>
              <div class="see_full">
                <a href="/donation/details">See Full Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Popular Causes Three End-->
