<!--Page Header Start-->
<section
  class="page-header"
  style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)"
>
  <div class="container">
    <div class="page-header__inner">
      <h2>Donations</h2>
      <ul class="thm-breadcrumb list-unstyled">
        <li><a href="/">Home</a></li>
        <li><span>/</span></li>
        <li>Campaigns</li>
      </ul>
    </div>
  </div>
</section>
<!--Page Header End-->

<!--Become Volunteer Start-->
<section class="become-volunteer">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="become-volunteer__left">
          <div class="become-volunteer__img">
            <img
              src="assets/images/resources/become-volunteer-img1.jpg"
              alt=""
            />
          </div>
          <div class="become-volunteer__requirements">
            <h3>Requirements</h3>
            <p class="become-volunteer__text">
              Aliquam hendrerit a augue insu image pellentes que id erat quis
              sollicitud null mattis Ipsum is simply dummy typesetting industry.
              Alienum phaedrum torquatos nec eu, vis detraxit periculis ex,
              nihil expetendis in meifn pericula euripidis.
            </p>
            <ul class="list-unstyled become-volunteer__requirements-list">
              <li>
                <div class="become-volunteer__requirements-icon">
                  <!-- <span class="icon-confirmation"></span> -->
                </div>
                <div class="become-volunteer__requirements-text">
                  <p>Nsectetur cing do not elit.</p>
                </div>
              </li>
              <li>
                <div class="become-volunteer__requirements-icon">
                  <!-- <span class="icon-confirmation"></span> -->
                </div>
                <div class="become-volunteer__requirements-text">
                  <p>Suspe ndisse suscipit sagittis in leo.</p>
                </div>
              </li>
              <li>
                <div class="become-volunteer__requirements-icon">
                  <!-- <span class="icon-confirmation"></span> -->
                </div>
                <div class="become-volunteer__requirements-text">
                  <p>Entum estibulum dignissim lipsm posuere.</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="become-volunteer__mail-box">
            <p>Send email</p>
            <a href="mailto:needhelp@company.com">needhelp@company.com</a>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="become-volunteer__right">
          <form class="become-volunteer__form">
            <div class="become-volunteer__input">
              <input
                type="text"
                placeholder="Phone Number"
                name="Phone Number"
              />
              <button type="submit" class="thm-btn become-volunteer__form-btn">
                Send Otp
              </button>
            </div>
            <div class="become-volunteer__input">
              <input type="text" placeholder="Name" name="Name" />
              <input type="text" placeholder="Amount" name="Amount" />
            </div>
            <div class="become-volunteer__input">
              <select name="list">
                <option selected>Categories</option>
                <option value="1">One</option>
                <option value="2">Two</option>
              </select>
              <input type="text" placeholder="Cause" name="Cause" />
            </div>
            <div class="become-volunteer__input">
              <input type="text" placeholder="Address" name="address" />
            </div>
            <div class="become-volunteer__input">
              <input type="text" placeholder="Area" name="Area" />
              <select name="list">
                <option selected>District</option>
                <option value="1">One</option>
                <option value="2">Two</option>
              </select>
              <select name="list">
                <option selected>State</option>
                <option value="1">One</option>
                <option value="2">Two</option>
              </select>
            </div>
            <div class="become-volunteer__input">
              <input
                type="text"
                placeholder="Reference Name"
                name="Reference Name"
              />
              <input
                type="text"
                placeholder="Reference Mobile Number"
                name="Reference Mobile Number"
              />
            </div>
            <div class="become-volunteer__input">
              <textarea name="message" placeholder="Write message"></textarea>
            </div>
            <div class="become-volunteer__input">
              <input type="text" placeholder="Aadhar Card Nummber" />
              <div class="upload">
                <a href="#">Upload Document</a>
              </div>
            </div>
            <button type="submit" class="thm-btn become-volunteer__form-btn">
              Donate Now
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Become Volunteer End-->
