<!--Page Header Start-->
<section
  class="page-header"
  style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)"
>
  <div class="container">
    <div class="page-header__inner">
      <h2>Dashboard</h2>
      <ul class="thm-breadcrumb list-unstyled">
        <li><a href="/">Home</a></li>
        <li><span>/</span></li>
        <li>Dashboard</li>
      </ul>
    </div>
  </div>
</section>
<!--Page Header End-->

<!-- Demo header-->
<section class="py-5 header">
  <div class="container p-0">
    <div class="row bs-row">
      <div class="col-md-3 bg-black">
        <!-- Tabs nav -->
        <div
          class="nav flex-column nav-pills nav-pills-custom bg-black"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <a class="nav-link px-3 py-4">
            <span class="user_icon">YR</span>
            <span class="font-weight-bold small text-uppercase"
              >YASH RABARI</span
            ></a
          >
          <a
            class="nav-link px-3 py-2 active"
            id="v-pills-home-tab"
            data-toggle="pill"
            href="#v-pills-home"
            role="tab"
            aria-controls="v-pills-home"
            aria-selected="true"
          >
            <span class="font-weight-bold small">Helps History</span></a
          >

          <a
            class="nav-link px-3 py-2"
            id="v-pills-profile-tab"
            data-toggle="pill"
            href="#v-pills-profile"
            role="tab"
            aria-controls="v-pills-profile"
            aria-selected="false"
          >
            <span class="font-weight-bold small">Donation History</span></a
          >

          <a
            class="nav-link px-3 py-2"
            id="v-pills-messages-tab"
            data-toggle="pill"
            href="#v-pills-messages"
            role="tab"
            aria-controls="v-pills-messages"
            aria-selected="false"
          >
            <span class="font-weight-bold small">Profile Updation</span></a
          >

          <a class="nav-link px-3 py-2" href="#">
            <span class="font-weight-bold small">Log Out</span></a
          >
        </div>
      </div>

      <div class="col-md-9">
        <!-- Tabs content -->
        <div class="tab-content" id="v-pills-tabContent">
          <div
            class="tab-pane fade bg-white show active py-5 px-4"
            id="v-pills-home"
            role="tabpanel"
            aria-labelledby="v-pills-home-tab"
          >
            <div class="row">
              <div class="col-md-12">
                <div class="row mb-3">
                  <div class="col-md-4">
                    <div class="font-italic font-weight-normal text-dark fs-4">
                      Help History
                    </div>
                    <div class="font-italic font-weight-light">
                      Last help transaction history
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="p-1 bg-light shadow-sm mb-4">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <button
                            id="button-addon2"
                            type="submit"
                            class="btn btn-link text-secondary"
                          >
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                        <input
                          type="search"
                          placeholder="Search..."
                          class="form-control border-0 bg-light font-italic"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button
                      type="button"
                      class="btn btn-lg btn-light font-italic font-weight-light mr-3"
                    >
                      Status
                    </button>
                    <button
                      type="button"
                      class="btn btn-lg btn-light font-italic font-weight-light"
                    >
                      Category
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <thead>
                      <tr class="border">
                        <td class="font-italic">Unique Id</td>
                        <td class="font-italic">Date</td>
                        <td class="font-italic">Title</td>
                        <td class="font-italic">Category</td>
                        <td class="font-italic">Status</td>
                        <td class="font-italic">Actions</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="font-italic font-weight-light">#568945</td>
                        <td class="font-italic font-weight-light">
                          12/03/2023
                        </td>
                        <td class="font-italic font-weight-light">
                          Need help for opration
                        </td>
                        <td class="font-italic font-weight-light">Medical</td>
                        <td class="font-italic font-weight-light">
                          In Process
                        </td>
                        <td class="font-italic font-weight-light">
                          <a href="#"
                            ><i class="fas fa-pen text-secondary pr-3"></i
                          ></a>
                          <a href="#"
                            ><i class="fas fa-trash-alt text-secondary"></i
                          ></a>
                        </td>
                      </tr>
                      <tr>
                        <td class="font-italic font-weight-light">#568945</td>
                        <td class="font-italic font-weight-light">
                          12/03/2023
                        </td>
                        <td class="font-italic font-weight-light">
                          Need help for opration
                        </td>
                        <td class="font-italic font-weight-light">Medical</td>
                        <td class="font-italic font-weight-light">
                          In Process
                        </td>
                        <td class="font-italic font-weight-light">
                          <a href="#"
                            ><i class="fas fa-pen text-secondary pr-3"></i
                          ></a>
                          <a href="#"
                            ><i class="fas fa-trash-alt text-secondary"></i
                          ></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade bg-white py-5 px-4"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
          >
            <h4 class="mb-4">Donation History</h4>
          </div>

          <div
            class="tab-pane fade bg-white py-5 px-4"
            id="v-pills-messages"
            role="tabpanel"
            aria-labelledby="v-pills-messages-tab"
          >
            <h4 class="mb-4">Profile Updation</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
