<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home Two || Asting || Asting Form HTML Template</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/images/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/images/favicons/site.webmanifest" />

    <!-- Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Css-->
    <link rel="stylesheet" href="/assets/css/animate.min.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/assets/css/swiper.min.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="/assets/css/jarallax.css" />

    <link rel="stylesheet" href="/assets/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="/assets/css/vegas.min.css" />
    <link rel="stylesheet" href="/assets/css/nouislider.min.css" />
    <link rel="stylesheet" href="/assets/css/nouislider.pips.css" />
    <link rel="stylesheet" href="/assets/css/asting.css" />
    <!-- Template styles -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
  </head>

  <body>
    <!DOCTYPE html>
    <html class="no-js" lang="zxx">
      <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Home | Medipharma Global</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Favicon -->
        <link
          rel="shortcut icon"
          type="image/x-icon"
          href="/img/logo/logoicon.png"
        />

        <!-- all css here -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/icofont.css" />
        <link rel="stylesheet" href="/css/magnific-popup.css" />
        <link rel="stylesheet" href="/css/owl.carousel.min.css" />
        <link rel="stylesheet" href="/css/meanmenu.css" />
        <link rel="stylesheet" href="/css/animate.css" />
        <link rel="stylesheet" href="/css/jquery.mb.YTPlayer.min.css" />
        <link rel="stylesheet" href="/style.css" />
        <link rel="stylesheet" href="/css/responsive.css" />
        <script src="/js/vendor/modernizr-3.11.2.min.js"></script>
      </head>

      <body>
        <div class="preloader">
          <img
            src="/assets/images/loader.png"
            class="preloader__image"
            alt=""
          />
        </div>
        <div class="page-wrapper">
          <%- include('partials/navbar') %> <%-body%> <%-
          include('partials/footer') %>
        </div>
        <a href="#" data-target="html" class="scroll-to-target scroll-to-top"
          ><i class="fa fa-angle-up"></i
        ></a>

        <div class="mobile-nav__wrapper">
          <div
            class="mobile-nav__overlay side-menu__toggler mobile-nav__toggler"
          ></div>
          <div class="mobile-nav__content">
            <span
              class="mobile-nav__close side-menu__toggler mobile-nav__toggler"
            >
              <i class="fa fa-times"></i>
            </span>
            <div class="logo-box">
              <a href="/" aria-label="logo image">
                <img src="/assets/images/resources/logo-2.png" alt="" />
              </a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container clearfix"></div>
            <!-- /.mobile-nav__container -->
            <ul class="mobile-nav__contact list-unstyled">
              <li>
                <i class="fas fa-envelope"></i>
                <a href="mailto:needhelp@asting.com">needhelp@asting.com</a>
              </li>
              <li>
                <i class="fas fa-phone-square-alt"></i>
                <a href="tel:666-888-0000">666 888 0000</a>
              </li>
            </ul>
            <!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
              <div class="mobile-nav__social">
                <a href="#" aria-label="twitter"
                  ><i class="fab fa-twitter"></i
                ></a>
                <a href="#" aria-label="facebook"
                  ><i class="fab fa-facebook-square"></i
                ></a>
                <a href="#" aria-label="pinterest"
                  ><i class="fab fa-pinterest-p"></i
                ></a>
                <a href="#" aria-label="instagram"
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
              <!-- /.mobile-nav__social -->
            </div>
            <!-- /.mobile-nav__top -->
          </div>
        </div>

        <div class="search-popup">
          <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
          </div>
          <!-- /.search-popup__overlay -->
          <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
              <input
                type="text"
                name="search"
                placeholder="Type here to Search...."
              />
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>

        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/owl.carousel.min.js"></script>
        <script src="/assets/js/waypoints.min.js"></script>
        <script src="/assets/js/jquery.counterup.min.js"></script>
        <script src="/assets/js/TweenMax.min.js"></script>
        <script src="/assets/js/wow.js"></script>
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
        <script src="/assets/js/swiper.min.js"></script>
        <script src="/assets/js/typed-2.0.11.js"></script>
        <script src="/assets/js/vegas.min.js"></script>
        <script src="/assets/js/jquery.validate.min.js"></script>
        <script src="/assets/js/bootstrap-select.min.js"></script>
        <script src="/assets/js/countdown.min.js"></script>
        <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/assets/js/bootstrap-datepicker.min.js"></script>
        <script src="/assets/js/nouislider.min.js"></script>
        <script src="/assets/js/isotope.js"></script>
        <script src="/assets/js/appear.js"></script>
        <script src="/assets/js/jarallax.js"></script>

        <!-- template scripts -->
        <script src="/assets/js/theme.js"></script>
      </body>
    </html>
  </body>
</html>
